<!DOCTYPE html><!-- This is a valid HTML5 document. -->
<!-- Screen readers, SEO, extensions and so on. -->
<html lang="fr" data-theme="light">
  <!-- Has to be within the first 1024 bytes, hence before the <title>
  See: https://www.w3.org/TR/2012/CR-html5-20121217/document-metadata.html#charset -->
  <meta charset="utf-8" />
  <!-- Why no `X-UA-Compatible` meta: https://stackoverflow.com/a/6771584 -->
  <!-- The viewport meta is quite crowded and we are responsible for that.
  See: https://codepen.io/tigt/post/meta-viewport-for-2015 -->
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <!-- Prevent access via referrers, only the domain will be available. -->
  <meta content="origin-when-cross-origin" name="referrer" />
  <!-- Required to make a valid HTML5 document. -->
  <title>uMap stats</title>
  <!-- Lightest blank gif, avoids an extra query to the server. -->
  <link rel="icon" href="data:;base64,iVBORw0KGgo=" />
  <link rel="stylesheet"
        href="./static/vendors/picocss-pico.2.0.6.css" />
  <link rel="stylesheet"
        href="./static/vendors/frappe-charts.1.5.8.css" />
  <style>
    h1,
    h2 {
      text-align: center;
    }
    svg > text.title {
      font-size: 1rem;
    }
    .data-point-list {
      color: white;
    }

    /* See https://erikpoehler.com/2022/12/15/picocss-content-tabs/ */
    [role="tabpanels"] {
      display: flex;
    }

    [role="tabpanels"] section {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }

    [role="tabpanels"] [role="tabpanel"] {
      flex-grow: 1;
      width: 100%;
      height: 100%;
      display: none;
      margin-top: 2rem;
    }

    [role="tabpanels"] [type="radio"]:checked + [role="tabpanel"] {
      display: block;
    }

    nav[role="tablist"] div[role="group"] {
      margin: 0 auto;
    }
    nav[role="tablist"] button {
      padding: 0;
    }
    nav[role="tablist"] label {
      padding: 1rem 3rem;
      margin: 0;
    }

    button:is([aria-selected="true"], :hover, :active, :focus) {
      --pico-background-color: var(--pico-primary-hover-background);
      --pico-border-color: var(--pico-primary-hover-border);
      --pico-box-shadow: var(--pico-button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0));
      --pico-color: var(--pico-primary-inverse);
    }
    table.recap td:nth-child(2),
    table.recap th:nth-child(2),
    table.recap td:nth-child(3),
    table.recap th:nth-child(3),
    table.recap td:nth-child(4),
    table.recap th:nth-child(4),
    table.recap td:nth-child(5),
    table.recap th:nth-child(5) {
      text-align: end;
    }

  </style>
  <body>
    <main class="container">
      <h1>uMap stats</h1>
      <div class="content">
        <article>
          <header>
            <h2>Versions</h2>
          </header>
          <table class="striped recap">
            <thead>
              <tr>
                <th scope="col">Instance</th>
                <th scope="col">Version</th>
                <th scope="col">Accounts</th>
                <th scope="col">Maps</th>
                <th scope="col">Maps/account</th>
              </tr>
            </thead>
            <tbody>
              {% for name, data in latest.items() %}
                <tr>
                  <th scope="row"><a href="https://{{ instances[name].url }}">{{ name }}</a></th>
                  <td>{{ data.version }}</td>
                  <td>{{ data.users_count|large_number }}</td>
                  <td>{{ data.maps_count|large_number }}</td>
                  <td>{{ (data.maps_count / data.users_count)|round(1) }}</td>
                </tr>
              {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                <th scope="row">TOTAL</th>
                <th></th>
                <th>{{ total_users_count|large_number }}</th>
                <th>{{ total_maps_count|large_number }}</th>
                <th></th>
              </tr>
            </tfoot>
          </table>
        </article>
        <article>
          <h1>Stats per instance</h1>
          <nav role="tablist">
            <div role="group">
              {% for name, url in instances.items() %}
                <button role="tab"
                  id="tab-{{ loop.index }}"
                  aria-selected="{% if loop.first %}true{% else %}false{% endif %}"
                  aria-controls="tabpanel-{{ loop.index }}"
                  ><label for="{{ url }}">{{ name }}</label></button>
              {% endfor %}
            </div>
          </nav>
          <div role="tabpanels">
            <section>
              {% for name, url in instances.items() %}
                <input hidden="hidden" type="radio" name="tabs" id="{{ url }}" {% if loop.first %}checked="checked"{% endif %}  />
                <figure role="tabpanel" tabindex="0"
                  id="tabpanel-{{ loop.index }}"
                  aria-labelledby="tab-{{ loop.index }}">
                  <div id="chart-maps-count-{{ name|slugify }}"></div>
                  <div id="chart-maps-active-last-week-count-{{ name|slugify }}"></div>
                  <div id="chart-users-count-{{ name|slugify }}"></div>
                  <div id="chart-users-active-last-week-count-{{ name|slugify }}"></div>
                </figure>
              {% endfor %}
            </section>
          </div>
        </article>
      </div>
    </main>
    <script type="module">
      import { Chart } from "./static/vendors/frappe-charts.1.6.2.js"
      const colors = ['#000091', '#3a4259', '#79c1c0', '#7cd6fd', '#743ee2']
      {% for name, data in instances.items() %}
        new Chart("#chart-maps-count-{{ name|slugify }}", {
          title: "Total number of maps for “{{ name }}”",
          data: {
            labels: {{ data.labels }},
            {% for maps_count_dataset in maps_count_datasets %}
              {% if maps_count_dataset.name == name %}
                datasets: [{{ maps_count_dataset }}],
              {% endif %}
            {% endfor %}
            // Force y-axes to start at zero.
            yMarkers: [
              {
                label: '',
                value: 0,
                type: 'solid'
              }
            ]
          },
          type: 'line',
          height: 500,
          colors: colors,
          axisOptions: {
            xIsSeries: 1
          }
        })
        new Chart("#chart-maps-active-last-week-count-{{ name|slugify }}", {
          title: "Active number of maps per week for “{{ name }}”",
          data: {
            labels: {{ data.labels }},
            {% for maps_active_last_week_count_dataset in maps_active_last_week_count_datasets %}
              {% if maps_active_last_week_count_dataset.name == name %}
                datasets: [{{ maps_active_last_week_count_dataset }}],
              {% endif %}
            {% endfor %}
            // Force y-axes to start at zero.
            yMarkers: [
              {
                label: '',
                value: 0,
                type: 'solid'
              }
            ]
          },
          type: 'line',
          height: 500,
          colors: colors,
          axisOptions: {
            xIsSeries: 1
          }
        })
        new Chart("#chart-users-count-{{ name|slugify }}", {
          title: "Number of users for “{{ name }}”",
          data: {
            labels: {{ data.labels }},
            {% for users_count_dataset in users_count_datasets %}
              {% if users_count_dataset.name == name %}
                datasets: [{{ users_count_dataset }}],
              {% endif %}
            {% endfor %}
            // Force y-axes to start at zero.
            yMarkers: [
              {
                label: '',
                value: 0,
                type: 'solid'
              }
            ]
          },
          type: 'line',
          height: 500,
          colors: colors,
          axisOptions: {
            xIsSeries: 1
          }
        })
        new Chart("#chart-users-active-last-week-count-{{ name|slugify }}", {
          title: "Active number of users per week for “{{ name }}”",
          data: {
            labels: {{ data.labels }},
            {% for users_active_last_week_count_dataset in users_active_last_week_count_datasets %}
              {% if users_active_last_week_count_dataset.name == name %}
                datasets: [{{ users_active_last_week_count_dataset }}],
              {% endif %}
            {% endfor %}
            // Force y-axes to start at zero.
            yMarkers: [
              {
                label: '',
                value: 0,
                type: 'solid'
              }
            ]
          },
          type: 'line',
          height: 500,
          colors: colors,
          axisOptions: {
            xIsSeries: 1
          }
        })
      {% endfor %}
    </script>
    <script type="text/javascript">
      const tabs = document.querySelectorAll('[role="tablist"] [role="tab"]')
      const eventListenerCallback = setActiveState.bind(null, tabs)

      tabs.forEach((tab) => {
        tab.addEventListener('click', eventListenerCallback)
        tab.addEventListener('keyup', (event) => {
          if (event.code === 'Enter' || event.code === 'Space') {
            tab.querySelector('label').click()
          }
        })
      })

      function setActiveState(tabs, event) {
        tabs.forEach((tab) => tab.setAttribute('aria-selected', false))
        event.target.closest('[role="tab"]').setAttribute('aria-selected', true)
      }

    </script>
  </body>
</html>
